<div class="container">

<h1>Update Profile</h1>

<div class="row">

    <%= form_for(@user) do |f| %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    
     <%= f.label :last_name %>
     <%= f.text_field :last_name %>

      <%= f.label :location %>
     <%= f.text_field :location %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

        <%= f.hidden_field :image_url, placeholder: "Profile Photo", role: "uploadcare-uploader" %>

	   <%= f.submit "Save changes", class: "button" %>
      <!--this will submit to user#update -->
    <% end %>


  </div>
  </div>
</div>
</div>