<h1>Sign Up</h1>

<%= form_for @user do |f| %>

	Email:<%= f.text_field :email, required: true %>
	Password:<%= f.password_field :password, required: true %>
	Password Confirmation:<%= f.password_field :password_confirmation %>
	<%= f.submit "Submit" %>

<% end %>