
<div class="container">
<div class="row">

<% if @current_user == @user %>
<div class="container">

<div class="row">
<div class="col s12 center-align">
<% if @current_user == @user %>
        <h2>Welcome, <%= @current_user.first_name %></h2>
      <% else %>
      <h3><%= @user.first_name %>'s Profile</h3>
        <% end %>
  </div>
</div>
    <div class="row profileButtons center-align">
        <div class="col s12 m4 l4">
        <a class="waves-effect waves-light btn blue darken-1 white-text" href="<%= conversations_path %>">Messages</a>
        </div>

        <div class="col s12 m4 l4">
          <a class="waves-effect waves-light btn blue darken-1 white-text" href="/items/new">Lend Something</a>
        </div>

      <div class="col s12 m4 l4">
        <a class="waves-effect waves-light btn blue darken-1 white-text" href="/items">Borrow Something</a>
      </div>

     </div>
  <div class="row profileButtons center-align">
        <div class="col s12 m12 l12">
        <a class="waves-effect waves-light btn red lighten-1 white-text" href="#stuff">My Stuff</a>
          <a class="waves-effect waves-light btn red lighten-1 white-text" href="#friends">My Friends</a>
        </div>

  </div>
</div> 
<% end %>
</div>
</div>
</div>

<div class="container">
<div class="row card">
    <div class="col s6"><% if @current_user != @user  %>
    <h3><%= @user.first_name %>'s Profile</h3>

      <% if @current_user.friend_request?(@user) %>
          <%= button_to 'Accept Friend Request', accept_path(@user), method: :post, class: 'btn red' %><br>
          <%= button_to 'Decline Friend Request', decline_path(@user), method: :post, class: 'btn red' %>
      <% end %>


        <% else %>
          <h2><%= @current_user.first_name %></h2>
          <%= button_to "Messages", conversations_path, class: "btn blue", method: :get %>
        <% end %>
          <h5>Location: <%= @user.location %></h5>
          <h5>Email: <%= @user.email %></h5>
          <h5>Member since: <%= @user.created_at.strftime("%m/%d/%y") %></h5>
          <h5>Rating: 5 Stars</h5>

          <div class="row">
            <div class="col s12 center-align">

                <% if @current_user.friends_with?(@user) %>
                  <%= button_to 'Send Message', conversations_path(sender_id: current_user.id, recipient_id: @user.id), class: 'btn red', method: :post %><br>
                  <%= button_to 'Delete Friend', remove_path(@user), method: :post, class: 'btn red' %>
                <% end %>
            </div>

          <% if @current_user == @user %>
            <div id="editbutton">
                <a href="<%= edit_user_path(@user) %>">Edit Profile</a>
            </div>
            <% end %>
        </div>
      </div>
    <div class="col s6">
            <br>
            <img src="<%= @user.image_url %>" width="300px" height="300px">
    </div>

<div class="col s6">
     <% if @current_user != @user  %>
    <div class="btn blue sendrequest"><%= link_to 'Message', conversations_path, method: :get %></div></b>
    <% end %>
<!-- deleted blue friend delete etc buttons, see email 2 -->

  <% if current_user == @user %>
      <a href="/users/<%= @user.id %>/edit"></a>
     <%= link_to "", @user, :method => :delete %>
    <% else %>
      <% unless current_user == @user || current_user.friends_with?(@user) || current_user.friend_pending?(@user) || current_user.friend_request?(@user) %>
      <i class="fi-torsos-all icons"></i>&ensp;<b>
      <div class="btn blue sendrequest"><%= link_to 'Send Request', request_path(@user), method: :post %></div></b>
      <% end %>
    <% end %>
    <br>
    <br>
    <br>
</div>
</div>
</div>


<div class="container" id="friends">
<div class="row card" id="showFriends">
  <br> <h2 class="profileTitle">FRIENDS</h2><br>
  <div class="col s12 center-align">
        <%= button_to "Find Users", users_path, method: :get, class: "btn blue" %>
      </div><br><br><br>
<% @user.friends.each do |friend| %>
<div class="row">
<div class="col s12 m6 l6">
  <ul class="img-list friends-list">
    <li>
      <img src="<%= friend.image_url %>"/>
      <span class="friend-content">
        <span><%= friend.first_name %><br><br><br>
        <a class="btn itembutt" href="/users/<%= friend.id %>">Select</a>
        </span>
        </span>
      </a>
    </li>
  </ul>
</div>
<% end %>
</div>
</div>
</div>


<div class="container friends" id="friends">
<div class="row card" id="showFriends">
    <% if current_user == @user %>
      <div class="col s12">
          <h3>Manage Requests</h3>
          <h4>Friend Requests</h4>
  <!-- removed friend request logic, see email --> 
        <a style="line-height: 25px; font-size: 15px;" href="#">Friend Requests (<%= current_user.requested_friends.count %>)</a>

        <p><a style="line-height: 25px; font-size: 15px;" href="#">Pending Requests(<%= current_user.pending_friends.count %>)</a></p>

        <h4>Message a Friend</h4>
        <% current_user.friends.each do |user| %>
        <% if user.id != current_user.id %>
          <h5><%= link_to user.first_name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></h5>
        <% end %>
      <% end %>

    <% if current_user.friends_with?(@user) %>
          <% current_user.requested_friends.each do |q| %>
            <ul>
              <li><h5><%= q.first_name %></h5></li>
              <li><h5><%= q.location %></h5></li>
              <li><img src="<%=  q.image_url %>" width="100px"></li>
            </ul>
          <% end %>
        <!-- removed sendmessage/delete friends buttons -->
        <% end %>
    <% end %>

      </div>
      </div>
</div>
</div>
</div>

  <!-- end friends row -->
<!-- end friends dashboard -->


<!-- stuff div -->
<div class="container" id="stuff">
  <div class="row card">
      <div class="col s12">
        <% @items.each do |item| %>
        <% if @user.id  == item.user_id %>
        <%= render "items" %>
          <% end %>
        <% end %>
        </div>
    </div>
</div>

<!-- end stuff div -->

<hr><br>
  <div class="row">

  <% if @current_user == @user %>
    <div class="row center-align">
        <div class="showbutts col s12 m6 l6">
          <a id="lendbutton" class="waves-effect waves-light btn-large red darken-1 white-text" href="/items/new">Lend Something</a>
        </div>
      <div class="col s12 m6 l6">
        <a id="borrowbutton" class="waves-effect waves-light btn-large red darken-1 white-text" href="/items">Borrow Something</a>
      </div>
     </div>
     </div>
<% end %>
</div>
</div>