<div class="container">
<section class="hero">
    <div class="row">
        <h2>Welcome, <%= @user.first_name %></h2>
        <h5>Location: <%= @user.location %></h5>
        <h5>Email: <%= @user.email %></h5>
        <h5>Member since: <%= @user.created_at.strftime("%m/%d/%y") %></h5>
     </div>
</section>
</div>

<div class="container">
    <div class="row center-align">
        <div class="showbutts col s12 m12 l6">
        	<a id="lendbutton" class="waves-effect waves-light btn-large red darken-1 white-text" href="/items/new">Lend Something</a>
        </div>
     	<div class="col s12 m12 l6">
     		<a id="borrowbutton" class="waves-effect waves-light btn-large red darken-1 white-text" href="/items">Borrow Something</a>
     	</div>
     </div>
</div>


<div class="container">
 	<%= render "items" %>
</div>

