
<%= form_for(@item_update) do |f| %>
  <div class="field center-align">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price%><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :availability %><br>
    <%= f.text_field :availability %>
  </div>
    <%= f.label "Image URL" %><br>
      <%= f.hidden_field :image_url, placeholder: "Profile Photo", role: "uploadcare-uploader" %>
  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
