<%= form_for(@item) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
   <div class="field">
    <%= f.label :availability %><br>
    <%= f.text_field :availability %>
  </div>

  <%=f.hidden_field :user_id, :value => @user %>

  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
