<%= form_for(@item) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Price Per Day" %><br>
    <%= f.text_field :price %>
  </div>
   <input class="datepicker" type="date">
    <%= f.label "Date Available" %><br>
      <%= f.text_field :availability %>
     </input>

  <%=f.hidden_field :user_id, :value => @user%>

     <div class="field">
    <%= f.label "Image URL" %><br>
      <%= f.hidden_field :image_url, placeholder: "Profile Photo", role: "uploadcare-uploader" %>
     </div>

  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
