<div class="container">
<div class="row">

            <h2><a href="/users/<%= @offeredby.id %>" class="red">Request to Borrow from <%= @offeredby.first_name %></a> </h2>

            <div class="card-header">
              <%= image_tag("#{@item.image_url}", :width => "400") %>
            </div>
        
              <%= @item.title %></h4>
              <h5><%= @item.description %></h5>
              <h5>Created at: <%= @item.created_at.strftime("%m/%d/%y") %> </h5>
              <h5>Offered By: <a href="/users/<%= @offeredby.id %>" class="bluetext"><%= @offeredby.first_name %></a></h5>
              <h5><a href="/users/<%= @offeredby.id %>">Send <%= @offeredby.first_name %> a Message</a></h5>
              <h5>Dates Available: <%= @item.availability %> </h5>
              <h5>Price: <%= @item.price %> per day </h5>
            </div>
          
          <% if @current_user != @user  %>
            <%= link_to 'Show', @item %>
            <%= link_to 'Edit', edit_item_path(@item) %>
            <%= link_to 'Back', items_path %>
          <% end %>

  </div>
  </div>