<div class="row">
      <div class="col s12">

            <h2>Request to Borrow This Item from User <%= @item.user_id %> </h2>

            <div class="card-header">
              <%= image_tag("#{@item.image_url}", :width => "400") %>
            </div>
        
              <%= @item.title %></h4>
              <h5><%= @item.description %></h5>
              <h5>Created at: <%= @item.created_at.strftime("%m/%d/%y") %> </h5>
              <h5>Offered by: <%= @item.user_id %></h5>
              <h5>Dates Available: <%= @item.availability %> </h5>
              <h5>Price: <%= @item.price %> per day </h5>
            </div>

                 <%= link_to 'Show', @item %>
<!--         <a href="/items/<%= @item.id %>/edit">Edit Item</a>
 -->        <%= link_to 'Edit', edit_item_path(@item) %>
            <%= link_to 'Back', items_path %>

    </div>
  </div>