<p id="notice"><%= notice %></p>

<div class='container center-align'>
<h3>All Items</h3>
</div>


<div class="container center-align">
<div class="editprof waves-effect waves-light red lighten-1 btn"><%= link_to 'Add New Item', new_item_path %></div>
<br><br>
<!-- search form -->
  <div class="form-group center-align" style="background-color: white">
    <div class="form-control">
      <fieldset>
        <label>Search for an item:</label>
          <%= form_tag(items_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Items" %>
          <%= submit_tag "Search", class: 'btn btn-primary blue' %>
          <% end %>
      </fieldset>
      </div>
  </div>
</div>

    <% if @items.present? %>
     <%= render "items" %>
     <% else %>
      <h5>There are no items containing the term(s) <%= params[:search] %>.</h5>
    <% end %>
</div>

<!-- end search form --> 



