<p id="notice"><%= notice %></p>
<div class='container center-align'>
<h3>All Items</h3>

<div class="editprof waves-effect waves-light red lighten-1 btn"><%= link_to 'Add New Item', new_item_path %></div>



<!-- function search form! -->
<div class="container center-align">
    <h4>Search Items</h4>
     <fieldset>
      <label>Search for an item:</label>
        <%= form_tag items_path, method: :get do %>

        <div class='form-group'>
        <%= text_field_tag :query, params[:query], class: 'form-control' %>
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      </fieldset>     
        </div>
    <% end %>
</div>


<!-- new search form -->
    <form>
      <div class="input-field">
        <div class="row">
           <%= form_tag items_path, :method => 'get' do %>
           <label for="search"><i class="material-icons">search</i></label>
           <div id="cursor">
             <%= text_field_tag :search %>
           </div>
           <% end %>
       </div>
      </div>
    </form>


<% @items.each do |item| %>
    <div class="row">
<div class="col s12 m6 l6">
  <ul class="img-list">
    <li>
      <img src="<%= item.image_url %>" width="400px" height="325px" />
      <span class="text-content">
        <span><%= item.title %><br><br><br>
        <a class="btn itembutt" href="/items/<%= item.id %>">See More</a>
        </span>
        </span>
      </a>
    </li>
  </ul>
  </div>
  <% end %>

</div>


