<p id="notice"><%= notice %></p>
<div class='container center-align'>
<h3>All Items</h3>

<div class="editprof waves-effect waves-light red lighten-1 btn"><%= link_to 'Add New Item', new_item_path %></div>
<br><br>
<!-- search form -->
  <div class="form-group center-align" style="background-color: white">
    <div class="form-control">
      <fieldset>
        <label>Search for an item:</label>
          <%= form_tag(items_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Items" %>
          <%= submit_tag "Search", class: 'btn btn-primary blue' %>
          <% end %>
      </fieldset>
          <% if @items.present? %>
            <%= render "items" %>
          <% else %>
            <p>There are no items containing the term(s) <%= params[:search] %>.</p>
          <% end %>
    </div>
  </div>
<!-- end search form --> 
</div>
</div>

<div class="container">
<% @items.each do |item| %>
    <div class="row">
<div class="col s12 m6 l6">
  <ul class="img-list">
    <li>
      <img src="<%= item.image_url %>" width="400px" height="325px" />
      <span class="text-content">
        <span><%= item.title %><br><br><br>
        <a class="btn itembutt" href="/items/<%= item.id %>">See More</a>
        </span>
        </span>
      </a>
    </li>
  </ul>
  </div>
  <% end %>
</div>
</div>


