<p id="notice"><%= notice %></p>

<div class="row">
      <div class="col s10">
        <div class="card hoverable indigo darken-1">
            <div class="card-header">
            <%= image_tag("#{@item.image_url}", :width => "400") %>
            </div>

          <div class="card-content" style="background-color:white">
              <h4><%= @item.title %></h4>
              <h5><%= @item.description %></h5>
              <h5>Created at: <%= @item.created_at.strftime("%m/%d/%y") %> </h5>
              <h5>Offered by: <%= @item.user_id %></h5>
              <h5>Dates Available: <%= @item.availability %> </h5>
              <h5>Price: <%= @item.price %> per day </h5>
              <a class="btn itembutt" href="/items/<%= @item.id %>">BORROW</a>
            </div>



      <div class="card-footer">
         <div class="card-action">
         <% if current_user === @item.user_id %>
            <%= link_to 'Show', @item %>
            <%= link_to 'Edit', edit_item_path(@item) %>
            <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Back', items_path %>
          <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>