  <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <% if current_user %>
            <li><%= link_to "Hello, #{current_user.first_name}", "#" %></li>
            <li><%= link_to "Inbox", mailbox_inbox_path %></li>
            <li><%= link_to "Logout", sessions_path, method: :delete %></li>
        <% else %>
            <li class="active"><%= link_to "Login", login_path %></li>
            <li><%= link_to "Sign up", '/signup' %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->