<!DOCTYPE html>
<html>
<head>
  <title>LendZen</title>

<!-- CSS and fonts -->
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!-- asset pipeline -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

<!--uploadcare-->
<script>
UPLOADCARE_PUBLIC_KEY = 'b87de74d4f4e35f8c03e';
</script>
<script src="https://ucarecdn.com/widget/2.9.0/uploadcare/uploadcare.full.min.js" charset="utf-8"></script>

</head>

<body>
<!-- nav bar -->
<nav>
	<div class="white-text nav-wrapper deep-purple darken-4 valign-wrapper">
		<a href="/" class="brand-logo center" id="logo">LendZen</a>
		<div class="row white-text">
		<div class="col s12 pull-s6">
			<ul id="nav-mobile" class="left">
				<li><a href="/about">About</a></li>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		</div>

		<div class="col s12">
		<ul id="nav-mobile" class="right">
			<% if current_user %>
  				<li>Hi, <%= current_user.first_name %>! <%= link_to 'Profile', user_path(current_user.id) %></li>
  				<li><%= link_to 'Messages', conversations_path %></li>
  				<li><%= link_to "Logout", sessions_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'Log In', login_path %></li>
				<li><%= link_to 'Signup', '/signup' %></li>
			<% end %>
		</ul>
	</div>
	</div>
</nav>

<!-- app body -->
<div class="container">

<%= yield %>

</div>

<!-- footer -->
<footer class="page-footer deep-purple darken-4" width="100%">
	<div class="container">
		<div class="row">
			<div class="col s12 offset-12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="white-text text-lighten-3" href="/about">About</a></li>
					<li><a class="grey-text text-lighten-3" href="/faq">FAQ</a></li>
					<li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>

<div class="container">
	<div class="row">
	<div class="footer-copyright">
		Copyright 2016 LendZen
		<ul>
		<li><a class="grey-text text-lighten-4" href="/about"> About</a></li>
		<li><a class="grey-text text-lighten-4" href="/faq"> FAQ</a></li>
		<li><a class="grey-text text-lighten-4" href="/contact"> Contact</a></li>
		</ul>
	</div>
	</div>
</div>
</footer>

</body>
</html>
